.mainSerie{
    font-size: 16px;
    min-height: 40.62em;
    color: #FFF;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0.50) 100%), url(../../assets/img/Tonikaku-Kawaii/tonikawa.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.conteinerSerie{width: 90%; margin: auto;}

.title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.description{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.buttons{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.buttons:hover{background: #FFF; color: #000;}
.buttons i{margin-right: 1.25em;}

@media (max-width: 800px){
    .conteinerSerie{margin-bottom: 3em;}
    .mainSerie{font-size: 14px;}
    .description{max-width: 100%;}
}