.conteiner{
    width: 90%;
    margin: auto;
}

.button{
    background: rgba(232, 22, 22, 0.52);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.main-serie{
    width: 100%;
    height: 35em;
    min-height: 40.62em;
}

.text-conteiner{
    margin-top: 17.5em;
}

.card-img{
    width: 100%;
    height: 100%;
    opacity: 90%;
    object-fit: cover;
}


.title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.description{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 60%;
    margin-bottom: 1.25em;
}

.button:hover{
    background: #be1313;
    color: #000;
}
.button i{
    margin-right: 1.25em;
}



@media (max-width: 991px){
    .text-conteiner{
        margin-top: 10em;
    }
    .title{
        font-size: 2em;
    }
    .button{
        font-size: 0.9em;
    }
    .description{
        max-width: 100%;
    }
}

@media (max-width: 440px){
    .text-conteiner{
        margin-top: 5em;
    }
}