body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #be1313;
}

/*scroll-page*/
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #be1313 #ffffff;
  }

  /*Google chrome*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 5px;
    height: 5px;
	background-color: black;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
	background-color: #be1313;
}
